* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #4780ed;
  background: linear-gradient(
    to top left,
    #4780ed,
    rgb(52, 109, 180),
    rgb(77, 134, 205),
    rgb(52, 109, 180),
    rgb(77, 134, 205),
    #4780ed
  );
}

.container {
  max-width: 50rem;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 7rem;
}

.login-box {
  color: #ccc;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 5rem;
}

.form {
  max-width: 100%;
}

ion-icon[name="person-outline"] {
  font-size: 5rem;
  background-color: rgb(18, 75, 146);
  border-radius: 50%;
  padding: 2.5rem;
  margin-bottom: 2rem;
}

.title-heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.input-box {
  max-width: 100%;
  border-bottom: 2px solid transparent;
  padding: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  transition: border linear 0.3s;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.07);

  display: flex;
  align-items: center;
}

.input-box ion-icon {
  font-size: 2rem;
  margin-right: 4rem;
}

.input-box.password {
  margin-bottom: 2rem !important;
}

.input {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: #eee;
}

.input::placeholder {
  color: #bbb;
}

.input:focus::placeholder {
  color: #ccc;
}

form div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 0 1rem;
}

.input-checked {
  margin-right: 1rem;
  transform: scale(1.2);
  accent-color: rgb(18, 75, 146);
  cursor: pointer;
}

.input-checked + label {
  font-size: 1.4rem;
  color: #ddd;
  cursor: pointer;
}

.input-checked + label:hover {
  color: #fff;
}

.forget-password:link,
.forget-password:visited,
.create-account {
  font-size: 1.4rem;
  color: #ccc;
  text-decoration: none;
  font-style: italic;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.forget-password:hover,
.forget-password:active,
.create-account:hover {
  color: #fff;
  border-bottom: 1px solid;
}

.btn-login {
  width: 100%;
  font-size: 3rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #ddd;
  background-color: rgb(18, 75, 146);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-login:hover {
  background-color: rgb(27, 87, 161);
}

.create-account {
  display: inline-block;
}
/*--------- Responsive ---------*/
@media (max-width: 57em) {
  .container {
    padding: 2rem;
  }
}
@media (max-width: 28em) {
  .container {
    padding-top: 6rem;
  }
  .title-heading {
    font-size: 3rem;
  }
}
